@{
    ViewBag.Title = "About Page";
    Layout = "_Layout";

    var name = " Talalovic";
    var id = " 101399169";
    var courseCode = "Comp2139";
    var corsesection = "Thursday";
    
    
    
}

<h2>About</h2>

<div>
    <h2>Welcome to my Application</h2>
    <p>Name:@name</p>
    <p>ID:@id</p>
    <p>Course Code: @courseCode</p>
    <p>Section: @corsesection</p>
</div>